.login-menu{
    display: flex;
}
.login-menu li{
    margin-left: 20px;
    list-style-type: none;
}
.login-menu li a{
    text-decoration: none;
}
.login-menu h1{
    margin: 0;
}
.heading{
    color:rebeccapurple;
    text-align: center;
    margin-top: 50px;
}

